---
title: 'About'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/web-design-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/web-design.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/web-design.jpg" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/me-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/me.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/me.jpg" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">About Norman Web Design</h2>
                <p class="cs-text">
                    Welcome to Norman Web Design, where your website becomes a gateway to a deeper connection with your visitors. Our mission is to create visually stunning website that outperform the competition in functionality and speed. Our optimized websites ensure Google SEO ranks your site higher than others.
                </p>
                <p class="cs-text">
                    Our approach is customer first, focusing on creating a seamless experience for you and your potential customers. We are committed to transparency, collaboration, and value adding. We take care of all your website needs, freeing you up to persue the rest of your business endeavors.
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        I created Norman Web Design to help businesses with outdated, slow, and clunky websites excel in today's technology driven era.
                    </p>
                    <span class="cs-name">Jordan Babb</span>
                    <span class="cs-job">CEO-Founder</span>
                    <img 
                    class="cs-quote-icon"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
                    alt="gavel"
                    width="136"
                    height="77" />
                </div>
                <a href="/services" class="cs-button-solid">Our Services</a>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}