---
title: 'Services'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'services/'
eleventyNavigation:
    key: Services
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/services.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Our Services</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1301">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper">Our Services</span>
                <h2 class="cs-title">Professional Web Sites, Friendly Service</h2>
            </div>
            <p class="cs-text">
                At Norman Web Design, we believe you deserve a better customer experience. We take pride in focusing on your specific design preferences while keeping your site fast and responsive.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a  class="cs-link">
                    <img class="cs-icon" src="/assets/svgs/clock.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    <h3 class="cs-h3">Fast and Responsive</h3>
                    <p class="cs-item-text">
                        Our websites will load faster than most template builders online. This is important to Google Search Engine Optimization and your clients! Do you hate waiting for a website to load? We do too, thats why our websites are built with speed and efficiency in mind first.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a  class="cs-link">
                    <img class="cs-icon" src="/assets/svgs/cpu.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    <h3 class="cs-h3">Search Engine Optimization</h3>
                    <p class="cs-item-text">
                        We build our text content around key words you want your business to rank for. We keep web crawlers in mind when designing our code. 
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a class="cs-link">
                    <img class="cs-icon" src="/assets/svgs/clipboard.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    <h3 class="cs-h3">Google Analytics</h3>
                    <p class="cs-item-text">
                        Google Website Analytics comes built into any website you purchase with us. This helps you see what users like most about your website.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a  class="cs-link">
                    <img class="cs-icon" src="/assets/svgs/pen-tool.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    <h3 class="cs-h3">Lifetime Updates</h3>
                    <p class="cs-item-text">
                        We are commited to tailoring each website to your preferences. Our design team will help make your website dream a reality.
                    </p>
                </a>
            </li>
        </ul>
    </div>
</section>

    {% include 'components/cta.html' %}

{% endblock %}